# Puerto donde se expone la API
PORT=3000

# Cadena de conexion a MongoDB
# Local:  mongodb://127.0.0.1:27017/peliculas_db
# Atlas:  mongodb+srv://<usuario>:<password>@<cluster>.mongodb.net/peliculas_db
MONGO_URI=mongodb://127.0.0.1:27017/peliculas_db
